.sidebarNav .nav-link.active {
    background-color: #4b4542 !important;
    /* Màu nâu khi được chọn */
    color: #ffffff !important;
    /* Màu chữ khi được chọn */
    border-radius: 8px;
    /* Bo góc nhẹ */
}